@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 6% 10%;
    --card: 255 100% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 255 100% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 10%;
    --radius: 0.5rem;
    --chart-1: 215 79% 60%;
    --chart-2: 276 51% 60%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 220 12% 10%;
    --sidebar-primary: 215 79% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 93% 95%;
    --sidebar-accent-foreground: 220 12% 10%;
    --sidebar-border: 220 20% 88%;
    --sidebar-ring: 215 79% 60%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 0 0% 98%;

    --sidebar-background: 220 15% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 215 79% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 10% 25%;
    --sidebar-ring: 215 79% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
